@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F7F5F1;
  --foreground: #111111;
  --font-fraunces: "Fraunces", serif;
  --font-jost: "Jost", sans-serif;
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}